[submodule "src/gummi_demo_hand_shake"]
	path = src/gummi_demo_hand_shake
	url = https://github.com/GummiArmCE/gummi_demo_hand_shake.git
[submodule "src/gummi_ee_handshake"]
	path = src/gummi_ee_handshake
	url = https://github.com/GummiArmCE/gummi_ee_handshake.git
[submodule "src/gummi_base_template"]
	path = src/gummi_base_template
	url = https://github.com/GummiArmCE/gummi_base_template.git
[submodule "src/gummi_interface"]
	path = src/gummi_interface
	url = https://github.com/GummiArmCE/gummi_interface.git
[submodule "src/dynamixel_motor"]
	path = src/dynamixel_motor
	url = https://github.com/arebgun/dynamixel_motor.git
